PORT=8000
REDIS_HOST=localhost
REDIS_PORT=6380
MODEL_DIR=./models
DATA_DIR=./data
INTERNAL_SERVICE_TOKEN=netsentry_internal_token_development_only
ML_INTERNAL_AUTH_ENABLED=true
NETSENTRY_PCAP_ROOT=./data/pcap
CLAIM_IDLE_MS=30000
