PORT=3001
DATABASE_URL="postgresql://netsentry:netsentry_dev_secret_change_me@localhost:5432/netsentry_db?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
ML_SERVICE_URL=http://localhost:8000
JWT_SECRET=netsentry_jwt_random_secret_development_only
CORS_ORIGIN=http://localhost:3000
